<div class="col-sm-3">
  <div class="alert alert-success">
    <strong>Info!</strong> Indicates a neutral informative change or action.
    Indicates a neutral informative change or action.
    Indicates a neutral informative change or action.
    Indicates a neutral informative change or action.
    Indicates a neutral informative change or action.
    Indicates a neutral informative change or action.
  </div>

  <% if action_name == 'edit' %>
  <ul class="list-group">
    <%= link_to "<i class='fa fa-home'></i> ".html_safe + t('views.course.geral_infos'), edit_course_path(@course), class: 'list-group-item' %>
    <%= link_to "<i class='fa fa-image'></i> ".html_safe + t('views.course.add_image'), edit_course_path(@course, image: true), class: 'list-group-item' %>
    <%= link_to "<i class='fa fa-list-ul'></i> ".html_safe + t('views.course.concepts'), edit_course_path(@course, concepts: true), class: 'list-group-item' %>
    <%= link_to "<i class='fa fa-gear'></i> ".html_safe + t('views.course.configuration'), edit_course_path(@course, options: true), class: 'list-group-item' %>
  </ul>
  <% end %>

</div>

<div class="col-sm-9">
  <%= simple_form_for(@course, html: { class: '' }) do |f| %>
  <% if course.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
    <ul>
      <% course.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% unless params[:options].present? or params[:image].present? or params[:concepts].present? %>
  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :name, placeholder: t('views.course.placeholder.name') %>
    </div>

    <div class='col-sm-6'>
      <%= f.input :subtitle, placeholder: t('views.course.placeholder.subtitle') %>
    </div>
  </div>

  <div class="field">
    <%= f.input :description, as: :text, input_html: {rows: 5}, placeholder: t('views.course.placeholder.description') %>
  </div>

  <div class="field">
    <%= f.input :price %>
  </div>

  <div class="field">
    <%= f.input :category_id, collection: Category.all, label_method: :translated_name, value_method: :id, include_blank: false, selected: @course.category_id %>
  </div>
  <% end %>

  <% if params[:image].present? %>
    <div class='row'>
      <div class="col-sm-3">
        <%= image_tag @course.image.url(:medium), class: 'img-responsive thumbnail' %>
      </div>
      <div class="col-sm-6">
       <%= f.input :image, as: :file %>
      </div>
    </div>
  <% end %>

  <% if params[:options].present? %>
    <p class="text text-muted"><%= t('views.course.destroy_msg') %></p>
    <%= link_to t('views.course.destroy'), course_path(@course), class: 'btn btn-danger btn-fill', method: :delete %>
  <% end %>

  <% if params[:concepts].present? %>
    <%= f.input :name, as: :hidden %>
    <div id="concepts">
      <%= f.simple_fields_for :concepts do |concept| %>
        <%= render 'concept_fields', :f => concept %>
      <% end %>
      <div class="form-group">
        <%= link_to_add_association "<i class='fa fa-plus'></i> Adicionar conceito".html_safe, f, :concepts, class: 'btn btn-primary btn-xs' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-info btn-fill pull-right', data: {disable_with: t('views.course.submit')}  unless params[:options].present? %>
  </div>
<% end %>
</div>