<p id="notice"><%= notice %></p>

<%= link_to t('views.course.new'), new_course_path, class: 'btn btn-info pull-right btn-fill' %>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <div class="col-sm-3"><%= image_tag(course.image.url(:small), class: 'img-responsive' ) %></div>
          <div class="col-sm-1">
            <h3><%= course.name %></h3>
            <p class='text text-muted'><%= course.subtitle %></p>
            <%= course.active? ? "<span class='label label-success'>#{t('views.course.active')}</span>".html_safe : "<span class='label label-default'>#{t('views.course.desactived')}</span>".html_safe %>
          </div>
        </td>
        <td><%= t(course.category.try(:translated_name)) %></td>
        <td><%= link_to t('views.course.edit'), edit_course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>