<!DOCTYPE html>
<html>
<head>
  <title>Didaty</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Didaty</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if current_user.present? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('navbar.instructor') %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('navbar.my_courses'), courses_path(teacher: true) %></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><%= link_to t('navbar.create_course'), new_course_path %></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
          <% end %>
        </li>
        <% if current_user.present? %>
          <li><%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('navbar.login'), user_facebook_omniauth_authorize_path, class: 'button' %></li>
        <% end %>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t('navbar.search') %>" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default btn-nav-search" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>

    </div><!--/.nav-collapse -->
  </div>
</nav>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
